/*General Chat Card Changes*/
body.smaller-chat-5e .chat-sidebar .message {
    padding: 0.3rem;
}
body.smaller-chat-5e .chat-sidebar .message .message-header .title {
    font-size: var(--font-size-14);
}
body.smaller-chat-5e .chat-sidebar .message .dnd5e2.chat-card .description {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
body.smaller-chat-5e .chat-sidebar .message .dnd5e2.chat-card .pills .pill {
    font-size: var(--font-size-9);
    padding: 0.15rem 0.25rem;
}

/*Dice Output Changes*/
body.smaller-chat-5e .chat-sidebar .message .dice-result .dice-total {
    font-size: var(--font-size-18);
}
body.smaller-chat-5e .chat-sidebar .message .dice-result .dice-formula, 
body.smaller-chat-5e .chat-sidebar .message .dice-result .dice-total {
    padding: 0.2rem;
}
body.smaller-chat-5e .chat-sidebar .message .dice-result .dice-tooltip .dice .dice-rolls {
    margin: 3px 0 3px 10px;
}
body.smaller-chat-5e .chat-sidebar .message .dice-result .dice-tooltip .dice .total .value {
    font-size: var(--font-size-18);
}